{% extends 'appointment_system/base.html' %}

{% load static %}

{% block title %}Lista de Serviços{% endblock %}

{% block content %}
<h1>Lista de Serviços</h1>
<ul>
    {% for service in services %}
        <li>
            <h2>{{ service.name }}</h2>
            <p>Descrição: {{ service.description }}</p>
            <p>Preço: R$ {{ service.price }} por sessão.</p>
            <p>Duração da sessão: {{ service.duration }} minutos.</p>
            <a href="{% url 'appointment_request' service.id %}" 
            style="display: inline-block; padding: 10px 20px; background-color: #4CAF50; color: white; text-align: center; text-decoration: none; border-radius: 5px; transition: background-color 0.3s;">
            Agendar
            </a>

        </li>
    {% endfor %}
</ul>
{% endblock %}
