{% extends 'appointment_system/base.html' %}

{% load static %}

{% block title %}Lista de Serviços{% endblock %}

{% block content %}
<h1>Lista de Serviços</h1>
<ul>
    {% for service in services %}
        <li>
            <h2>{{ service.name }}</h2>
            <p>Descrição: {{ service.description }}</p>
            <p>Preço: R$ {{ service.price }} por sessão.</p>
            <p>Duração da sessão: {{ service.duration }} minutos.</p>
            <a href="{% url 'appointment_request' service.id %}" class="agendar-button">
                Agendar
            </a>

        </li>
    {% endfor %}
</ul>
{% endblock %}
