{% extends 'appointment_system/base.html' %}

{% load static %}

{% block title %}Lista de Serviços{% endblock %}

{% block content %}
<h1>Lista de Serviços</h1>
<ul>
    {% for service in services %}
        <li>
            <h2>{{ service.name }}</h2>
            <p>Descrição: {{ service.description }}</p>
            <p>Preço: R$ {{ service.price }}</p>
            <a href="{% url 'appointment_request' service.id %}">Agendar</a>  <!-- Link para agendar o serviço -->
        </li>
    {% endfor %}
</ul>
{% endblock %}
